.footer-wrapper {
	width:100%;
	height:auto;
	background:url(../../assets/images/panel-bg.png);
	margin-top:20px;
	overflow:auto;
}
.footer-top {
	float:left;
	width:100%;
	height:2px;
	margin-top:5px;
	background:url(../../assets/images/h-dots.png) repeat-x;
}
.footer-center {
	width:920px;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:40px;
	overflow:visible;
}
.footer-center h1 {
	font-weight:normal;
	color:#fff;
	font-size:22px;
}
.footer-center h2 {
	font-weight:normal;
	color:#e63636;
	font-size:18px;
	padding-bottom:30px;
}
.footer-center h3 {
	font-weight:normal;
	color:#fff;
	font-size:18px;
}
.footer-content-left {
	float:left;
	width:640px;
	padding-right:20px;
}
.footer-content-left p {
	padding-bottom:30px;
}
.footer-content-right {
	float:left;
	width:230px;
	background:url(../../assets/images/v-dots-footer.png) repeat-y;
	padding-left:30px;
}
.footer-content-right p {
	padding-bottom:30px;
}
.footer-bottom {
	float:left;
	width:100%;
	height:2px;
	margin-bottom:5px;
	background:url(../../assets/images/h-dots.png) repeat-x;
}


.copyrights {
	width:100%;
	text-align:center;
	height:85px;
	line-height:85px;
	background:url(../../assets/images/panel-bg.png);
}
.copyrights-bottom { 
	width:100%; 
	background:url(../../assets/images/h-dots.png) repeat-x; 
	height:2px; 
	margin-top:-5px;
}